---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seasonpackarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-labs
        namespace: flux-system
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      seasonpackarr:
        annotations:
          secret.reloader.stakater.com/reload: seasonpackarr-secret
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/nuxencs/seasonpackarr
              tag: v0.14.0
            env:
              - name: SEASONPACKARR__CLIENTS_DEFAULT_HOST
                value: qbittorrent.downloads.svc.cluster.local
              - name: SEASONPACKARR__CLIENTS_DEFAULT_PORT
                value: 8080
              - name: SEASONPACKARR__SMART_MODE
                value: true
              - name: SEASONPACKARR__SMART_MODE_THRESHOLD
                value: 0.75
              - name: SEASONPACKARR__PARSE_TORRENT_FILE
                value: true
              - name: SEASONPACKARR__FUZZY_MATCHING_SKIP_REPACK_COMPARE
                value: true
              - name: SEASONPACKARR__FUZZY_MATCHING_SIMPLIFY_HDR_COMPARE
                value: false
              - name: SEASONPACKARR__DISABLE_CONFIG_FILE
                value: true
              - name: SEASONPACKARR__CLIENTS_DEFAULT_PREIMPORTPATH
                value: /data/nas-media/downloads/qbittorrent/tv-sonarr
            envFrom:
              - secretRef:
                  name: seasonpackarr-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
            securityContext:
              runAsUser: 2000
              runAsGroup: 2000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: seasonpackarr
        ports:
          http:
            port: 42069

    persistence:
      config:
        enabled: true
        type: emptyDir
        advancedMounts:
          seasonpackarr:
            app:
              - path: /config
      media:
        type: nfs
        server: ${SECRET_NFS_SERVER}
        path: /mnt/pool0/Media
        advancedMounts:
          seasonpackarr:
            app:
              - path: /data/nas-media
