home-kubernetes-talos-test.yaml
talosconfig
home-kubernetes-talos-test-2.yaml
home-kubernetes-talos-test-03.yaml
home-kubernetes-talos-controller-01.yaml
home-kubernetes-talos-controller-02.yaml
home-kubernetes-talos-controller-03.yaml
home-kubernetes-talos-worker-01.yaml
home-kubernetes-talos-worker-02.yaml
home-kubernetes-talos-worker-03.yaml
home-kubernetes-talos-storage-01.yaml
home-kubernetes-talos-storage-03.yaml
home-kubernetes-talos-storage-02.yaml
